// Farver
$btn-and-text-color: #ffffff;
$btn-and-text-alt: black;

// Font
$primary-font: 'Jersey 10', sans-serif;

// Mixins

// Pirmær knap
@mixin btn($background: $btn-and-text-color, $color: $btn-and-text-alt) {
    // Knap styles
    width: 70%;
    height: 60px;
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0 100%);
    background: $background;
    height: 60px;

    // Flexbox centering
    display: flex;
    justify-content: center;
    align-items: center;

    // Text styles
    text-decoration: none;
    font-size: 40px;
    font-family: 'Jersey 10', sans-serif;
    color: $btn-and-text-alt;
}